.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    /*margin: 0 auto;*/
    margin-right: 10%;
    margin-left: 10%;
  }
  
  .dashboard-container iframe {
    width: 100%;
    height: auto; /* Adjust height as necessary, you might want to set a specific height */
    border: none;
  }
  


