
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: "Montserrat","Libre Franklin",sans-serif;
    margin: 0;
    text-align: center;

}

header {
    background: #ffffff;
    color: #000;
    position: absolute;
    top: 37px; /* Same as the height of the top-bar */
    width: 100%; /* Ensure it spans the full width */
    z-index: 100; /* Ensure it's above the main content but below the top-bar */
    height: auto; /* Allow the header height to grow with content */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;


}


.header-container{
    display: flex;
    justify-content: space-between; /* This will space out the logo and navbar */
    align-items: center;
    padding: 0 20px; /* Add padding to the left and right of the header */

}


.vt-search-close-container, .top-bar {
    text-align:center;
    background: #36454F;
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat","Libre Franklin",sans-serif;
    font-weight: 700;
    padding: 0.9375em 1.25em;
    font-size: .6875em;
    height: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 500;
    

}


/* Remove position absolute and explicitly set the logo class to have flex properties */
.logo {
    display: block;
    margin-right: 20px; /* Add some margin if needed */

}

.logo img {
    height: 100px; /* Set to desired logo height */
    width: auto; /* Maintain aspect ratio */
    padding: 10px;
}

/* Center the navigation menu and remove absolute positioning */
.navbar {
    display: flex;
    justify-content: center; /* Center the navigation items */
    align-items: center; /* Align items vertically */
    height: 100%; /* Set to the height of the header */
    margin-top: 10px; /* Add some space below the logo */

}

/* Ensure the list is centered within the navbar */
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Remove default margin */
    display: flex; /* Display inline-flex to center the items */
    align-items: center; /* Align items vertically */
}

/* Remove inline display from list items, as flex display is already set */
.navbar ul li {
    padding: 0 15px; /* Space out the list items */
}

/* Additional style adjustments */
.navbar ul li a {
    text-decoration: none;
    color: #3d3d3d;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Montserrat","Libre Franklin",sans-serif;

}

/* Right content flex adjustments */
.right-content {
    flex: 0 1 auto; /* Do not grow, do not shrink, and base size on content */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar, .right-content {
      flex-direction: column;
      align-items: center;
    }
    
    .navbar ul {
      flex-direction: column;
    }
  
    .navbar ul li {
      padding: 10px 0; /* Space out the list items vertically */
    }
  }



h1 {
    margin: 1.3888888889rem 0;
    color: #3c3532;
    font-family: 'gtam',Arial,Helvetica,"Nimbus Sans L",sans-serif;
    font-weight: 800;
    text-transform: uppercase;

}

h2, h3, h4, h5, h6 {
    font-family: 'cschoolbook',Georgia,"Times New Roman","DejaVu Serif",serif;
    text-align: left;
    color: #575656;
    font-style: bold;
    

}

p {
    text-align: left;
    font-family: 'cschoolbook',Georgia,"Times New Roman","DejaVu Serif",serif;
    font-size: 1.11111rem;
    line-height: 1.5555555556rem;
    color: #3c3532;
}


nav ul li a {
    color: #333;
    text-decoration: none;
}

.hero-banner {
    width: 100%;
    height: 600px; /* Adjust as needed */
    background: url('../images/banner.jpg') no-repeat center center;
    background-size: cover;
}

main {
    max-width: 768px;
    margin: auto;
    padding: 20px;
}

footer {
    background: #36454F;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


/*Dashbord container options*/
.dashboard-container{
    position: relative;
    display: block;
    padding: 10px;
    width: 100%;    
}