
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: "Montserrat","Libre Franklin",sans-serif;
    margin: 0;

}


h1 {
    font-family: 'gtam',Arial,Helvetica,"Nimbus Sans L",sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'cschoolbook',Georgia,"Times New Roman","DejaVu Serif",serif;
}

p {
    text-align: left;
    font-family: 'cschoolbook',Georgia,"Times New Roman","DejaVu Serif",serif;
    font-size: 1.11111rem;
    line-height: 1.5555555556rem;
    color: #3c3532;
}
.topbar {
    background: #253a25;
}
.topbar h2 {
    color: #fff;
    font-size: 15px;
    padding: 10px 0px;
    margin: 0px;
}
.header {
    background: #fff;
    color: #f1f1f1;
  }
.nav-list {
    list-style: none;
    display: flex;
}
.nav-list .nav-link a {
    color: #3c3532;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.4;
    letter-spacing: 0;
    word-spacing: 0.0625rem;
}
.main-container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    align-items: center;
    padding: 20px 0px 10px;
}
.logo {
    display: flex;
}

.logo img {
    max-width: 300px;
    width: 100%;
    height: 100px;
}

.banner-img img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 102px;
  }

  .para {
    width: 100%;
    max-width: 700px;
    margin: auto;
}
.desc {
    padding: 50px 0px 0px;
}
.topbar h2{
display: flex;
align-items: center;
justify-content: center;    

}

    .topbar a{
color: #fff;
text-decoration: none;
}
.social-list{
    list-style: none;
    display: flex;

}
/* Footer section Start*/
 .social-icon a{    
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0px 10px;
       
    }
    .copy-right p{
    font-size: 16px;
    margin-left: 40px;
    }
    .menu-list {
        display: flex;
    }
    .menu-list ul {
        display: flex;
        list-style-type: none;

    }
    .menu-list ul li a {
        padding: 0px 5px ;
        text-decoration: underline;
        color: black;
    }

/* Footer section End*/
