.tab-columns{
    display:flex;
}
.tab-columns .tab-links{
    width:33.33333%;
    padding-right:15px;
    flex-shrink:0;
}
.tab-columns .tab-panes{
    width:66.66666%;
    padding-left:15px;
    flex-shrink:0;
}
 